{% extends "layout.html" %}
{% block body %}

  <form action="{{ url_for('add_entry') }}" method=post class=add-entry>
    <dl>
      <dt>Text:
      <dd><input type=text size=20 name=title>
      <dt>Text:
      <dd><textarea name=text rows=5 cols=20></textarea>
      <dd><input type=submit value=Share>
    </dl>
  </form>

  <ul class = articles>
  {% for article in articles %}
    <li><h2>{{ article.title }}</h2>
        <div class = "time">{{ article.publish_date}} </div><br>
        {{ article.content|safe }}
    <hr>
    {% else %}
    <li><em>Unbelievable.  No entries here so far</em>
  {% endfor %}
  </ul>

{% endblock %}